
<div class="container-fluid">
  <div class="row">
    <!-- Sidebar -->
    <div class="col-sm-auto  sticky-top sidebar">
      <div class="d-flex flex-column align-items-center">
        <!-- Logo -->

          <a  class="nav-link py-3 px-2" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Home">
            <i class="bi-house fs-1"></i>
          </a>

        <!-- Navigation Links -->
        <ul class="nav nav-pills nav-flush flex-sm-column flex-row flex-nowrap mb-auto mx-auto text-center align-items-center">
          <!-- <li class="nav-item">
            <a  class="nav-link py-3 px-2" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Home">
              <i class="bi-house fs-1"></i>
            </a>
          </li> -->
          <li>
            <a href="#" class="nav-link py-3 px-2" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Dashboard">
              <i class="bi-speedometer2 fs-1"></i>
            </a>
          </li>
          <li>
            <a href="#" class="nav-link py-3 px-2" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Orders">
              <i class="bi-table fs-1"></i>
            </a>
          </li>
          <li>
            <a href="#" class="nav-link py-3 px-2" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Products">
              <i class="bi-heart fs-1"></i>
            </a>
          </li>
          <li>
            <a href="#" class="nav-link py-3 px-2" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Customers">
              <i class="bi-people fs-1"></i>
            </a>
          </li>
        </ul>
        <!-- Dropdown Menu -->
        <div class="dropdown">
          <a href="#" class="d-flex align-items-center justify-content-center p-3 link-dark text-decoration-none dropdown-toggle" id="dropdownUser3" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bi-person-circle h2"></i>
          </a>
          <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser3">
            <li><a class="dropdown-item" href="#">Log Out</a></li>

          </ul>
        </div>
      </div>
    </div>
    <!-- Main Content -->

    <div class="col-sm  min-vh-100">
      <div class="main">
     <img src="https://www.mapzoomquiz.com/img/intro.jpg" alt="map" width="100%" height="22%">
     <div class="container">
      <div class="col">
        <div class="row-xs-12">
          <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
  <label class="form-check-label" for="exampleRadios1">
    Global
  </label>
        </div>
          <input type="checkbox">
          <label for="">City of Leominster</label>
          <div class="contaniner">
            <div class="col">
              <div class="row-xs-12">
             <img src="../../assets/add_FILL0_wght400_GRAD0_opsz24.png" alt="">   <input  type="checkbox" value="" id="flexCheckDisabled" >
  <label class="form-check-label p-1" for="flexCheckDisabled">
    Merriam Ave
  </label> <br>
  <img src="../../assets/add_FILL0_wght400_GRAD0_opsz24.png" alt="">    <input  type="checkbox" value="" id="flexCheckDisabled" >
  <label class="form-check-label p-1 " for="flexCheckDisabled">
    Main St
  </label> <br>
  <img src="../../assets/add_FILL0_wght400_GRAD0_opsz24.png" alt="">       <input  type="checkbox" value="" id="flexCheckDisabled" >
  <label class="form-check-label p-1" for="flexCheckDisabled">
     Centrak St
  </label> <br>
  <img src="../../assets/add_FILL0_wght400_GRAD0_opsz24.png" alt="">         <input  type="checkbox" value="" id="flexCheckDisabled" checked >
  <label class="form-check-label p-1" for="flexCheckDisabled">
    Mechanic St
  </label> <br>
  <img src="../../assets/add_FILL0_wght400_GRAD0_opsz24.png" alt="">         <input  type="checkbox" value="" id="flexCheckDisabled" >
  <label class="form-check-label p-1" for="flexCheckDisabled">
    Lancaster St
  </label> <br>
  <img src="../../assets/add_FILL0_wght400_GRAD0_opsz24.png" alt="">         <input  type="checkbox" value="" id="flexCheckDisabled" >
  <label class="form-check-label " for="flexCheckDisabled">
    Leominster connetor
  </label> <br>
  <img src="../../assets/add_FILL0_wght400_GRAD0_opsz24.png" alt="">        <input  type="checkbox" value="" id="flexCheckDisabled" >
  <label class="form-check-label p-1  " for="flexCheckDisabled">
    Water St
  </label> <br>
  <!-- <img src="../../assets/add_FILL0_wght400_GRAD0_opsz24.png" alt="">       <input  type="checkbox" value="" id="flexCheckDisabled" >
  <label class="form-check-label p-1" for="flexCheckDisabled">
    West St
  </label> <br> -->

</div>
</div>
</div>
</div>
<div>
          <hr>
          Alert Type
          <div class="alert-type">
            <input type="checkbox" name="alert" id="critical" style="padding-left: 10px;"> &nbsp;&nbsp;&nbsp;
            <div class="indicator critical" ></div>
            <label for="critical" style="padding-left: 15px; padding-top: 1px;" >Critical</label>
        </div>
        <div class="alert-type">
            <input type="checkbox" name="alert" id="major"> &nbsp;&nbsp;&nbsp;
            <div class="indicator major"></div>
            <label for="major" style="padding-left: 15px;">Major</label>
        </div>
        <div class="alert-type">
            <input type="checkbox" name="alert" id="minor"> &nbsp;&nbsp;&nbsp;
            <div class="indicator minor"></div>
            <label for="minor" style="padding-left: 15px;">Minor</label>
        </div>
        <div class="alert-type">
            <input type="checkbox" name="alert" id="warming">  &nbsp;&nbsp;&nbsp;
            <div class="indicator warming"></div>
            <label for="warming" style="padding-left: 15px;">Warming</label>
        </div>
        <div class="alert-type">
            <input type="checkbox" name="alert" id="informational"> &nbsp;&nbsp;&nbsp;
            <div class="indicator informational"></div>
            <label for="informational" style="padding-left: 15px;">Informational</label>
        </div>

        </div>
      </div>
    </div>

      <!-- Add content here to ensure visibility of the sidebar -->
         <div class="container1">
          Dashboard  <span>{{date | date:'M/d/yy, h:mm a' }}</span>
             <div class="container2">
              <div style=" float: left;">
                <img src="../../assets/street-lamp.png" alt="light" width="30px">
           <h4 > 1128 </h4>
           Total lights
            </div>
            <div style="float: right;">
                  <h5>986</h5> Functioning <br>
                  <h5>142</h5> Not Functioning
            </div>
            <div style="margin-top: 100px;">
              <img src="../../assets/sun.png" width="8%" alt=""> 06:50
              <img src="../../assets/sun.png" width="8%" alt=""> 19:25
            </div>
              <span  class="read-more"> <a href="" style="border: none;">Read<img src="../../assets/read_more_FILL0_wght400_GRAD0_opsz24.png" alt="readmore"></a></span>
          </div>
             <div class="container3">
              <img src="../../assets/delete_FILL0_wght400_GRAD0_opsz24.png" alt="delete icon" width="50px">
              <div style="float: left;">

                <h2> 21 </h2> smart bins
              </div>
               <div style="float: right; padding-bottom: 30%;">

                 <h6>3</h6> Trash level > 75%

                <h6>18</h6> Trash level >50%
               </div>

                <span  class="read-more"> <a href="" style="border: none;">Read<img src="../../assets/read_more_FILL0_wght400_GRAD0_opsz24.png" alt="readmore"></a></span>

             </div>
              <div class="container4">
                <div class="calendar" style="width: 100%;height: 100%;">
                  <div class="calendar__picture">
                    <h2>{{date |date :'MMM d'}} , {{date |date:'EEEE'}}</h2>

                  </div>
                  <div class="calendar__date">
                    <div class="calendar__day">M</div>
                    <div class="calendar__day">T</div>
                    <div class="calendar__day">W</div>
                    <div class="calendar__day">T</div>
                    <div class="calendar__day">F</div>
                    <div class="calendar__day">S</div>
                    <div class="calendar__day">S</div>
                    <div class="calendar__number"></div>
                    <div class="calendar__number"></div>
                    <div class="calendar__number"></div>
                    <div class="calendar__number">1</div>
                    <div class="calendar__number">2</div>
                    <div class="calendar__number">3</div>
                    <div class="calendar__number">4</div>
                    <div class="calendar__number">5</div>
                    <div class="calendar__number">6</div>
                    <div class="calendar__number">7</div>
                    <div class="calendar__number">8</div>
                    <div class="calendar__number">9</div>
                    <div class="calendar__number">10</div>
                    <div class="calendar__number">11</div>
                    <div class="calendar__number">12</div>
                    <div class="calendar__number">13</div>
                    <div class="calendar__number">14</div>
                    <div class="calendar__number">15</div>
                    <div class="calendar__number">16</div>
                    <div class="calendar__number">17</div>
                    <div class="calendar__number">18</div>
                    <div class="calendar__number">19</div>
                    <div class="calendar__number">20</div>
                    <div class="calendar__number">21</div>
                    <div class="calendar__number">22</div>
                    <div class="calendar__number">23</div>
                    <div class="calendar__number">24</div>
                    <div class="calendar__number">25</div>
                    <div class="calendar__number">26</div>
                    <div class="calendar__number">27</div>
                    <div class="calendar__number">28</div>
                    <div class="calendar__number">29</div>
                    <div class="calendar__number">30</div>
                  </div>
                </div>
             </div>
            <div class="container5">
              <p>Energy Consumption</p>
              <div class="text-center">
                <button class="btn btn-light">Day</button>   <button class="btn btn-light">Week</button>  <button class="btn btn-light">Month</button>
              </div>
              <div class="grafico">
  <div class="content">
      <div class="bars" *ngFor="let item of Animals">
          <!-- <span>{{item.Value}}</span> -->
          <div class="bar" [style.background-color]="item.Color" [style.height]='item.Size'></div>
      </div>
  </div>
</div>
            </div>
            <div class="container6">
   <img src="../../assets/eco_FILL0_wght400_GRAD0_opsz24.png" alt="environment">envionment data          <table>
  <tr>
    <th><img src="../../assets/cloud_FILL0_wght400_GRAD0_opsz24.png" alt="cloud image"/> 70.0pgm CO</th>
    <th><img src="../../assets/device_thermostat_FILL0_wght400_GRAD0_opsz24.png" alt="temperature device"/> 19.6C Temperature</th>

  </tr>
  <tr>
    <td><img src="../../assets/volume_up_FILL0_wght400_GRAD0_opsz24.png" alt="volume"> 60.0 dB volume </td>
    <td><img src="../../assets/water_drop_FILL0_wght400_GRAD0_opsz24.png" alt="drop">  47.5% Humidity</td>

  </tr>
  <tr>
    <td><img src="../../assets/science_FILL0_wght400_GRAD0_opsz24.png" alt="science"> 67.1 pgb</td>
    <td><img src="../../assets/lightbulb_circle_FILL0_wght400_GRAD0_opsz24.png" alt="bulb">1947.9 lux light</td>

  </tr>

</table>
<span  class="read-more"> <a href="" style="border: none;">Read<img src="../../assets/read_more_FILL0_wght400_GRAD0_opsz24.png" alt="readmore"></a></span>

             </div>
              <div class="container7">
                <div class="mapouter"><div class="gmap_canvas">
                  <iframe width="100%" height="100%" id="gmap_canvas" src="https://maps.google.com/maps?q=chennai&t=k&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
                 <style>.mapouter{position: relative;text-align: right;height: 100%;width: 100%;}</style><style>.gmap_canvas{overflow: hidden;background: none !important;height: 100%;width: 100%;}</style></div></div>
             </div>
             <div class="container8">
  <!-- <div> -->
  <canvasjs-chart [options]="chartOptions" [styles]="{width: '100%', height:'260px'}"></canvasjs-chart>
<!-- </div> -->
<span > <a href="" style="border: none;">Read<img src="../../assets/read_more_FILL0_wght400_GRAD0_opsz24.png" alt="readmore"></a></span>

             </div>
             <div class="container9"> 63 cctv & 62 active IP
              <img src="../../assets/cctv-camera.png" alt="cctv" width="50px" >
              <span > <a href="" style="border: none;">Read<img src="../../assets/read_more_FILL0_wght400_GRAD0_opsz24.png" alt="readmore"></a></span>

             </div>
            <div class="container10">
                <img src="../../assets/wifi_FILL0_wght400_GRAD0_opsz24.png" alt=""> 102 Wifi hotspot
                <span > <a href="" style="border: none;">Read<img src="../../assets/read_more_FILL0_wght400_GRAD0_opsz24.png" alt="readmore"></a></span>

             </div>
         </div>
    </div>
  </div>
